# multiple of these will run at the same time, so it needs to ensure that it can be run like this
services:
  redroid:
    image: ${REDROID_IMAGE}:${REDROID_TAG}
    privileged: true
    stop_grace_period: 0s
    cpus: 3
    mem_limit: 4g
    mem_reservation: 3g
    volumes:
      - redroid-base:/data-base # Shared base data partition
    tmpfs:
      - /data-diff:size=500m,mode=1777 # RAM-backed, auto-deleted on stop
    command:
      - androidboot.use_redroid_overlayfs=1
      - androidboot.use_memfd
      - ro.secure=0 # maybe remove this??
    networks:
      - internal # Gives container an IP that host-networked worker can reach

  worker:
    network_mode: host
    build:
      context: .
      dockerfile: worker/Dockerfile
    restart: always # worker exits with proccess.exit(), that means docker restarts it, which clears state. this allows for fresh state after crash or for a new user
    stop_grace_period: 0s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      SIGNAL_URL: ${SIGNAL_URL}
      POD_NAME: ${COMPOSE_PROJECT_NAME}
    depends_on:
      - redroid

volumes:
  redroid-base:
    external: true
    name: redroid-base # Shared base data partition (create once, use by all pods)

networks:
  internal: # Per-pod network, gives redroid an IP the host-networked worker can reach
