services:
  redroid:
    image: ${REDROID_IMAGE}:${REDROID_TAG}
    privileged: true
    ports: [5555]
    volumes:
      - redroid-data:/data
    command:
      - androidboot.redroid_width=${REDROID_WIDTH}
      - androidboot.redroid_height=${REDROID_HEIGHT}
      - androidboot.redroid_dpi=${REDROID_DPI}
      - androidboot.redroid_fps=${REDROID_FPS}
    networks:
      - cloud-gaming

  worker:
    build: ./worker
    restart: always
    environment:
      SIGNAL_URL: ws://signal:${SIGNAL_PORT}
      REDROID_HOST: redroid
      REDROID_WIDTH: ${REDROID_WIDTH}
      REDROID_HEIGHT: ${REDROID_HEIGHT}
    depends_on:
      - redroid
    networks:
      - cloud-gaming

volumes:
    redroid-data:
      external: true
      name: redroid-data-shared

networks:
  cloud-gaming:
    external: true
