# multiple of these will run at the same time, so it needs to ensure that it can be run like this
services:
  redroid:
    image: ${REDROID_IMAGE}:${REDROID_TAG}
    privileged: true
    stop_grace_period: 0s
    cpus: 4 # should limit to 2 on a good CPU & GPU combo
    mem_limit: 4g
    mem_reservation: 3g
    # ports:
    #   - "5555:5555"
    volumes:
      - redroid-base:/data-base # Shared base data partition
      - redroid-diff:/data-diff
    command:
      - androidboot.use_redroid_overlayfs=1
      - androidboot.use_memfd=1
    networks:
      - internal # Gives container an IP that host-networked worker can reach

  worker:
    network_mode: host
    build:
      context: .
      dockerfile: worker/Dockerfile
    restart: always # worker exits with proccess.exit(), that means docker restarts it, which clears state. this allows for fresh state after crash or for a new user
    stop_grace_period: 0s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp # For temporary game save tar files
      - ./docker-compose.worker.yml:/app/docker-compose.worker.yml:ro
      - ./worker:/app # Live code updates
      - /app/node_modules # Preserve node_modules from image build
      - ./shared:/shared # Live shared code updates
    environment:
      SIGNAL_URL: ${SIGNAL_URL}
      WORKER_NAME: ${COMPOSE_PROJECT_NAME}
      # Redroid image config (needed for docker compose up inside worker)
      REDROID_IMAGE: ${REDROID_IMAGE}
      REDROID_TAG: ${REDROID_TAG}
      WORKER_PASSWORD: ${WORKER_PASSWORD}
      # FreeKiosk PIN
      FREE_KIOSK_PIN: ${FREE_KIOSK_PIN}
      # R2 credentials for game saves
      CLOUDFLARE_R2_ACCESS_KEY_ID: ${CLOUDFLARE_R2_ACCESS_KEY_ID}
      CLOUDFLARE_R2_SECRET_ACCESS_KEY: ${CLOUDFLARE_R2_SECRET_ACCESS_KEY}
      CLOUDFLARE_R2_ENDPOINT: ${CLOUDFLARE_R2_ENDPOINT}
      R2_BUCKET_NAME: ${R2_BUCKET_NAME}
    depends_on:
      - redroid

volumes:
  redroid-base:
    external: true # requires volume to even start docker container
    name: redroid-base # Shared base data partition (create once, use by all workers)
  redroid-diff:
    name: ${COMPOSE_PROJECT_NAME}-redroid-diff # actual name docker names the volume or actual volume name it should be

networks:
  internal: # Per-worker network, gives redroid an IP the host-networked worker can reach
