/* Stream Container */
.stream-container {
  position: relative;
  overflow: hidden;
  background: #000;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stream Canvas */
.stream-canvas {
  display: block;
  touch-action: none;
  aspect-ratio: 9 / 16;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 100%;
}
